<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
	<add name="db" connectionString="Data Source=mssql-132712-0.cloudclusters.net,10130; database=Gimpses;User ID=admin;Password=#Sahar2023 "
	 providerName="System.Data.SqlClient" />
	<add name="Glimpses_Clinic.Properties.Settings.EyeClinicConnectionString"
	connectionString="Data Source=mssql-132712-0.cloudclusters.net,10130;Initial Catalog=Gimpses;User ID=admin;Password=#Sahar2023"
	providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>